<template>
    <div class="wrapper menu">
    <div class="panel">
      <h1>To Go Menu</h1>
      <ul class="menu">
        <li>
          <div class="plate">
            <img src="../assets/images/plate__french-fries.png" alt="French Fries" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">French Fries with Ketchup</p>
            <p class="price">$2.23</p>
            <button class="in-cart">
              <img src="../assets/images/check.svg" alt="Check" />
              In Cart
            </button>
          </div>
        </li>
        <li>
          <div class="plate">
            <img src="../assets/images/plate__salmon-vegetables.png" alt="Salmon and Vegetables" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">Salmon and Vegetables</p>
            <p class="price">$5.12</p>
            <button class="add">Add to Cart</button>
          </div>
        </li>
        <li>
          <div class="plate">
            <img src="../assets/images/plate__spaghetti-meat-sauce.png" alt="Spaghetti Meat Sauce" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">Spaghetti with Meat Sauce</p>
            <p class="price">$7.82</p>
            <button class="add">Add to Cart</button>
          </div>
        </li>
        <li>
          <div class="plate">
            <img src="../assets/images/plate__bacon-eggs.png" alt="Bacon, Eggs, and Toast" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">Bacon, Eggs, and Toast</p>
            <p class="price">$5.99</p>
            <button class="add">Add to Cart</button>
          </div>
        </li>
        <li>
          <div class="plate">
            <img src="../assets/images/plate__chicken-salad.png" alt="Chicken Salad with Parmesean" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">Chicken Salad with Parmesan</p>
            <p class="price">$6.98</p>
            <button class="add">Add to Cart</button>
          </div>
        </li>
        <li>
          <div class="plate">
            <img src="../assets/images/plate__fish-sticks-fries.png" alt="Fish Sticks and Fries" class="plate" />
          </div>
          <div class="content">
            <p class="menu-item">Fish Sticks and Fries</p>
            <p class="price">$6.34</p>
            <button class="add">Add to Cart</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel cart">
      <h1>Your Cart</h1>
      <!-- <p class="empty">Your cart is empty.</p> -->

      <ul class="cart-summary">

        <!-- item 1 -->
        <li>
          <div class="plate">
            <img src="../assets/images/plate__fish-sticks-fries.png" alt="Fish Sticks and Fries" class="plate" />
            <div class="quantity">1</div>
          </div>
          <div class="content">
            <p class="menu-item">Fish Sticks and Fries</p>
            <p class="price">$6.34</p>
          </div>
          <div class="quantity__wrapper">
            <button class="decrease">
              <img src="../assets/images/chevron.svg" />
            </button>
            <div class="quantity">1</div>
            <button class="increase">
              <img src="../assets/images/chevron.svg" />
            </button>
          </div>
          <div class="subtotal">
            $6.34
          </div>
        </li>

        <!-- item 2 -->
        <li>
          <div class="plate">
            <img src="../assets/images/plate__french-fries.png" alt="French Fries" class="plate" />
            <div class="quantity">2</div>
          </div>
          <div class="content">
            <p class="menu-item">French Fries with Ketchup</p>
            <p class="price">$2.23</p>
          </div>
          <div class="quantity__wrapper">
            <button class="decrease">
              <img src="../assets/images/chevron.svg" />
            </button>
            <div class="quantity">2</div>
            <button class="increase">
              <img src="../assets/images/chevron.svg" />
            </button>
          </div>
          <div class="subtotal">
            $4.46
          </div>
        </li>
      </ul>

      <div class="totals">
        <div class="line-item">
          <div class="label">Subtotal:</div>
          <div class="amount price subtotal">$10.80</div>
        </div>
        <div class="line-item">
          <div class="label">Tax:</div>
          <div class="amount price tax">$1.05</div>
        </div>
        <div class="line-item total">
          <div class="label">Total:</div>
          <div class="amount price total">$11.85</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      menuItems: [
    {
        name: 'French Fries with Ketchup',
        price: 223,
        image: 'plate__french-fries.png',
        alt: 'French Fries',
        count: 0
    },
    {
        name: 'Salmon and Vegetables',
        price: 512,
        image: 'plate__salmon-vegetables.png',
        alt: 'Salmon and Vegetables',
        count: 0
    },
    {
        name: 'Spaghetti Meat Sauce',
        price: 782,
        image: 'plate__spaghetti-meat-sauce.png',
        alt: 'Spaghetti with Meat Sauce',
        count: 0
    },
    {
        name: 'Bacon, Eggs, and Toast',
        price: 599,
        image: 'plate__bacon-eggs.png',
        alt: 'Bacon, Eggs, and Toast',
        count: 0
    },
    {
        name: 'Chicken Salad with Parmesan',
        price: 698,
        image: 'plate__chicken-salad.png',
        alt: 'Chicken Salad with Parmesan',
        count: 0
    },
    {
        name: 'Fish Sticks and Fries',
        price: 634,
        image: 'plate__fish-sticks-fries.png',
        alt: 'Fish Sticks and Fries',
        count: 0
    }
]
    }
  },
    
})
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background: url('../assets/images/bg__left.svg') left 10% no-repeat,
    url('../assets/images/bg__top-right.svg') right top no-repeat,
    #EFF0F6 url('../assets/images/bg__btm-right.svg') right bottom no-repeat;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 50px;
  height: 100vh;
}

.panel {
  background: white;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 70px #C7CBE3;
  height: 875px;
  padding-top: 50px;
  overflow-y: scroll;
  width: 375px;
}

h1 {
  padding-left: 40px;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin-left: 15px;
  display: flex;
  padding-right: 30px;
  position: relative;
  gap: 20px;
  margin-bottom: 45px;
}

ul.menu li:nth-child(4n + 1):before {
  --background: #e1f1fe
}

ul.menu li:nth-child(4n + 2):before {
  --background: #ffe2f0
}

ul.menu li:nth-child(4n + 3):before {
  --background: #f7f7fe
}

ul.menu li:nth-child(4n + 4):before {
  --background: #defef0
}

ul.menu li:before {
  background: var(--background);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 1;
}

ul.menu .plate {
  height: 148px;
  width: 148px;
  position: relative;
  z-index: 2;
  top: -15px;
}

ul.menu .content {
  padding-top: 30px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.menu-item {
  font-size: 1.125rem;
  line-height: 20px;
  margin: 0 0 16px 0;
  padding: 0;
}

.price,
.subtotal{
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

ul.menu .price {
  margin: 0 0 20px 0;
  padding: 0;
}

button {
  background: #6B00F5;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  padding: 4px 18px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

ul.menu button {
  position: absolute;
}

button.in-cart {
  background: black;
}

.cart p.empty {
  padding-left: 40px;
}

.cart-summary {
  border-bottom: 5px solid #D7D7F9;
  margin: 0 30px 0 25px;
}

.cart-summary li {
  display: grid;
  grid-template-areas: "plate content content"
    "plate quantity price";
}

.cart-summary .menu-item {
  margin-bottom: 5px;
}

.cart-summary p {
  margin-bottom: 0;
}

.cart-summary .price {
  margin: 0 0 16px 0;
  font-size: 1rem;
}

.cart .plate {
  position: relative;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: plate;
}

.cart .plate img {
  height: 64px;
  width: 64px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.cart-summary .content {
  grid-area: content;
}

.cart .quantity {
  background: black;
  color: white;
  font-size: 1rem;
  grid-area: quantity;
  font-weight: bold;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.quantity__wrapper {
  display: flex;
  gap: 10px;
}

.quantity__wrapper .quantity {
  background: none;
  color: black;
}

.decrease,
.increase {
  padding: 0;
  height: 32px;
  width: 32px;
  display: block;
}

.decrease:hover,
.increase:hover {
  background: black;
}

.decrease img {
  top: 1px;
  position: relative;
  left: -1px;
}

.increase img {
  transform: rotate(180deg);
  position: relative;
  top: 1px;
  left: 2px;
}

.cart-summary li {
  border-bottom: 1px solid #D7D7F9;
  margin-bottom: 45px;
  padding-bottom: 45px;
}

.cart-summary li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.cart-summary li .subtotal {
  text-align: right;
}

.totals {
  padding: 35px 30px;
}

.line-item {
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin-bottom: 20px;
}

.line-item .label {
  font-size: 1rem;
  font-weight: bold;
  width: 60%;
}

.line-item .amount {
  width: 40%;
}

.line-item.total .price {
  color: #6B00F5;
}

</style>