<template>
  <div id="app">
    <div class="wrapper">
      <div class="ring" :class="{ ending: time <= 0 }">
        <svg width="518" height="518" viewBox="0 0 518 518">
          <circle stroke-width="9px" x="0" y="y" cx="259" cy="259" r="254" />
        </svg>
      </div>
      <div class="timer">
        <div class="time">
          <div class="minutes">
            <input type="text" v-model="minutes" :disabled="disabled" />
          </div>
          <div class="colon">:</div>
          <div class="seconds">
            <input type="text" v-model="seconds" :disabled="disabled" />
          </div>
        </div>
        <button v-if="start" class="start" @click="countDown">start</button>
        <button v-else class="start" @click="stop">stop</button>
        <button class="settings" @click="disabled = !disabled">
          <gear />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import gear from '../components/gear.vue'
export default Vue.extend({
  name: "App",
  data() {
    return {
      start: true,
      interval: Function as any,
      disabled: true,
      minutes: '14',
      seconds: '50'
    }
  },
  components: {
    gear
  },
  computed: {
    time(): number {
      return Number(this.minutes) * 60 + Number(this.seconds);
    }
  },
  methods: {
    async countDown(): Promise<void> {
      this.start = !this.start;
      this.interval = setInterval(() => {
        if(this.time <= 0) {
          this.stop();
          return;
        }
        const time = this.time - 1;
        this.minutes = Math.trunc(time / 60).toString().padStart(2, '0');
        this.seconds = (time % 60).toString().padStart(2, '0');
      }, 1000);
    },
    async stop(): Promise<void> {
      this.start = !this.start;
      clearInterval(this.interval);
    }
  }
});
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
  font-family: "bebas";
  src: url("../assets/fonts/bebasneue-book-webfont.woff") format("woff"),
    url("../assets/fonts/bebasneue-book-webfont.woff2") format("woff2");
}

body {
  align-items: center;
  background: #2b2a30;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

/* outer glow */
.wrapper {
  align-items: center;
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  display: flex;
  height: 518px;
  justify-content: center;
  position: relative;
  width: 518px;
}

.ring {
  position: absolute;
  left: 0;
  stroke: #09a65a;
  top: 0;
  z-index: 1;
}

.ring.ending circle {
  stroke: #900a0a;
}

/* inner circle */
.timer {
  align-items: center;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  position: relative;
  width: 500px;
  z-index: 2;
}

/* actual time */
.time {
  display: flex;
  font-family: "bebas";
  font-size: 196px;
  margin: 30px auto;
  position: relative;
  top: 30px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px dashed white;
  background: none;
  color: white;
  font-family: "bebas";
  font-size: 196px;
  height: 170px;
  width: 150px;
  text-align: center;
  outline: none;
}

input[type="text"]:disabled {
  border-bottom: none;
}

.start {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start:hover {
  opacity: 1;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

.settings:hover {
  opacity: 1;
}
</style>

